In [19]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [8]:
#Load csv Form Part 1
file = '../WeatherPy/output/weather_df.csv'
weather_df = pd.read_csv(file)
weather_df.head()

,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,Barrow,71.2906,-156.7887,19.40,100,90,9.22,US,1619556025
1,Mitsamiouli,-11.3847,43.2844,81.03,100,21,8.37,KM,1619556106
2,Westport,41.1415,-73.3579,63.00,100,1,12.66,US,1619556106
3,Iqaluit,63.7506,-68.5145,24.80,100,20,3.44,CA,1619556107
4,Alice Springs,-23.7000,133.8833,44.60,100,0,5.75,AU,1619556107

# Humidity Heatmap

-Configure gmaps.

-Use the Lat and Lng as locations and Humidity as the weight.

-Add Heatmap layer to map.

In [20]:
gmaps.configure(api_key = g_key)
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [26]:
fig = gmaps.figure(layout=figure_layout, center=(0.0, 30.0), zoom_level=2)


heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = np.max(humidity), 
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wiâ€¦

# Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions.

Drop any rows will null values.

In [29]:
weather_conditions = weather_df.loc[(weather_df["Max Temperature (F)"] <= 80) &
                                           (weather_df["Max Temperature (F)"] > 70) &
                                           (weather_df["Wind Speed"] <= 10) &
                                           (weather_df["Cloudiness"] == 0 )]
weather_conditions

,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
55,Baikunthpur,23.2500,82.5500,74.68,94,0,3.27,IN,1619556128
66,Yangi Marg`ilon,40.4272,71.7189,71.60,94,0,4.61,UZ,1619556132
194,Mayor Pablo Lagerenza,-19.9309,-60.7718,76.24,83,0,5.48,PY,1619556188
229,Tikrit,34.6071,43.6782,75.20,81,0,6.53,IQ,1619556200
240,Saint-Philippe,-21.3585,55.7679,75.20,80,0,3.44,RE,1619556209
250,Baghdad,33.3406,44.4009,71.60,78,0,5.75,IQ,1619555915
324,Santa Cruz de la Sierra,-17.8000,-63.1667,74.25,70,0,4.85,BO,1619556243
345,Saint-Pierre,-21.3393,55.4781,75.20,68,0,3.44,RE,1619556256
385,Rivadavia,-33.1905,-68.4608,75.20,61,0,8.05,AR,1619556052